{% extends "home.html" %}
{% block productDetails %}
<div class="content-page">
    <div class="container-fluid add-form-list">
      <div class="row">
        {%if flag == 'UPDATE'%}
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="header-title" style="text-align: center">
                  <h4 class="card-title"><span class="text-primary mt-2">New</span> Product Details</h4>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'productDetailsUpdate' %}" data-toggle="validator" method="post">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                    {%for msg in messages%}
                      {% if msg.tags == "success" %}
                            <div class="alert alert-danger" role="alert">
                                  <div class="iq-alert-text">
                                        <b>{{ msg }}</b> 
                                  </div>
                            </div>
                      {%endif%}
                    {%endfor%}
                    {%for pddata in pddata%}
                        <input type="hidden" name="pdid" value={{pddata.product_id}} >
                          <div class="form-group">
                              <label>Product Type *</label>
                              <div class="search_select_box">
                                  <select name="producttype" id="producttype" class="selectpicker form-control" data-style="py-0" data-live-search="true" onchange="checkProductType()">
                                    <option selected="true" value="{{pddata.product_cat_id.product_type}}">{{pddata.product_cat_id.product_type}}</option>                          
                                      <option  disabled="disabled">--- Select ---</option>                          
                                      <option value="Consumable">Consumable</option>                          
                                      <option value="Non-Consumable">Non-Consumable</option>                          
                                  </select>
                              </div>
                          </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Category *</label>
                            <div class="search_select_box" >
                                <select name="productcat" id="productcat"  class="selectpicker form-control" data-style="py-0" data-live-search="true" onchange="printerProp()" >
                                  <option value="{{pddata.product_cat_id.product_cat_id}}">{{pddata.product_cat_id.product_cat_name}}</option>                          
                                </select>
                            </div>
                        </div> 
                    </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Product Name</label>
                              <input type="text" name="productname" class="form-control" value="{{pddata.product_name}}"  >
                          </div>
                      </div>
                      <div class="col-md-12" id="model" style="display:none;">
                          <div class="form-group">
                              <label>Model Name/No</label>
                              <input type="text" name="modelname" class="form-control" value="{{pddata.product_model}}"  >
                          </div>
                      </div>
                      <div class="col-md-12" id="serial" style="display:none;">
                          <div class="form-group">
                              <label>Serial No</label>
                              <input type="text" name="serialno" class="form-control" value="{{pddata.product_serialno}}"  >
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Quantity</label>
                              <input type="text" name="quantity" class="form-control" placeholder="Quantity" value="{{pddata.initial_quantity}}"   >
                          </div>
                      </div>
                      <div class="col-md-12" id="toner" style="display:none;">
                        <div class="form-group">
                            <label>Cartridge Toner</label>
                            <input type="text" name="toner"   class="form-control" value="{{pddata.cartridge_toner}}"  >
                        </div>
                    </div>
                      <div class="col-md-12">
                          <div class="form-group">
                                  <label>Remark </label>
                                  <textarea class="form-control" name="remarks" id="exampleFormControlTextarea1" rows="3">{{pddata.remarks}}</textarea>
                          </div>
                      </div>
                      {%endfor%}
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {%else%}
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="header-title" style="text-align: center">
                  <h4 class="card-title"><span class="text-primary mt-2">New</span> Product Details</h4>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'productDetailsSubmit' %}" data-toggle="validator" method="post">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                        {%for msg in messages%}
                              {% if msg.tags == "info" %}
                                    <div class="alert alert-warning" role="alert">
                                          <div class="iq-alert-text">
                                                <b>{{ msg }}</b> 
                                          </div>
                                    </div>
                              {% elif msg.tags == "success" %}
                              <div class="alert alert-success" role="alert">
                                    <div class="iq-alert-text">
                                          <b>{{ msg }}</b> 
                                    </div>
                              </div>
                              {%endif%}
                        {%endfor%}
                          <div class="form-group">
                              <label>Product Type *</label>
                              <div class="search_select_box">
                                  <select name="producttype" id="producttype" class="selectpicker form-control" data-style="py-0" data-live-search="true" onchange="checkProductType()">
                                      <option selected="true" disabled="disabled">--- Select ---</option>                          
                                      <option value="Consumable">Consumable</option>                          
                                      <option value="Non-Consumable">Non-Consumable</option>                          
                                  </select>
                              </div>
                          </div> 
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Category *</label>
                            <div class="search_select_box" >
                                <select name="productcat" id="productcat"  class="selectpicker form-control" data-style="py-0" data-live-search="true" onchange="printerProp()" >
                                  <option selected="true" disabled="disabled">--- Select ---</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Product Name</label>
                              <input type="text" name="productname" class="form-control" placeholder="Product Name"  >
                          </div>
                      </div>
                      <div class="col-md-12" id="model" style="display:none;">
                          <div class="form-group">
                              <label>Model Name/No</label>
                              <input type="text" name="modelname" class="form-control" placeholder="Model Name/No"  >
                          </div>
                      </div>
                      <div class="col-md-12" id="serial" style="display:none;">
                          <div class="form-group">
                              <label>Serial No</label>
                              <input type="text" name="serialno" class="form-control" placeholder="Serial No"  >
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Quantity</label>
                              <input type="text" name="quantity" class="form-control" placeholder="Quantity"  >
                          </div>
                      </div>
                      <div class="col-md-12" id="toner" style="display:none;">
                        <div class="form-group">
                            <label>Cartridge Toner</label>
                            <input type="text" name="toner"   class="form-control" placeholder="Cartridge Toner Name/No"  >
                        </div>
                    </div>
                      <div class="col-md-12">
                          <div class="form-group">
                                  <label>Remark </label>
                                  <textarea class="form-control" name="remarks" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                      </div>
    
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {%endif%}
  
        <div class="col-sm-9">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div class="header-title" style="text-align: center">
                    <h4 class="card-title">All Product Details</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                          <div class="col-lg-12">
                                <div class="table-responsive rounded mb-3" style="overflow-y: scroll;height: 683px;">
                                      <table class="data-table table mb-0 tbl-server-info">
                                      <thead class="bg-white text-uppercase">
                                            <tr class="ligth ligth-data">
                                                  <th>Product Type</th>
                                                  <th>Product Category</th>
                                                  <th>Product Details</th>                                            
                                                  <th>Quantity</th>
                                                  <th>Remarks</th>
                                                  <th>Action</th>
                                            </tr>
                                      </thead>
                                      <tbody class="ligth-body">
                                        {%for pddata in list_all_pd%}
                                            <tr>
                                                  <td>{{pddata.product_cat_id.product_type}}</td>
                                                  <td>{{pddata.product_cat_id.product_cat_name}}</td>
                                                  <td>
                                                    <b>Product Name : </b> {{pddata.product_name}}<br>
                                                    {%if pddata.product_cat_id.product_type == 'Non-Consumable'%}
                                                      <b>Model Name/No : </b> {{pddata.product_model}}<br>
                                                      <b>Serial No : </b> {{pddata.product_serialno}}<br>
                                                      {%if pddata.product_cat_id.product_cat_name == 'Printer'%}
                                                        <b>Cartridge Toner : </b> {{pddata.cartridge_toner}}
                                                      {%endif%}
                                                    {%endif%}
                                                  </td>  
                                                  <td>{{pddata.initial_quantity}}</td>                                                                                 
                                                  <td>{{pddata.remarks}}</td>                                   
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                        href=" {% url 'productDetailsUpdateRedirect'%}?pdid={{pddata.product_id}}">Edit</a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            {%endfor%}
                                            
                                            
                                      </tbody>
                                      </table>
                                </div>
                            </div>
                      
                    </div>
                </div>
              </div>
            </div>
      </div>
      <!-- ROW END-->
      <!-- Page end  -->
    </div>
  </div>
<script>
    function checkProductType(){
        protype=$('#producttype').val();
        $.ajax({
          type:"GET",
          url: "/productCategoryFilter",
          data:{
            protype: protype
          },
          success: function(data) 
          {
            $('#productcat').html(data);
            $('#productcat').selectpicker('refresh');
          }
        })
        if (protype == 'Consumable'){
            document.getElementById('model').style.display ='none';
            document.getElementById('serial').style.display ='none';
        }
        else{
            document.getElementById('model').style.display ='block';
            document.getElementById('serial').style.display ='block';
        }
    }

    function printerProp(){
      productcat = $("#productcat option:selected").text();
  
        if(productcat =='Printer'){
          document.getElementById('toner').style.display ='block';
        }
        else{
          document.getElementById('toner').style.display ='none';
        }
    }
</script>
{% endblock %}

