{% extends "home.html" %} {% block productModel %}
<div class="content-page">
  <div class="container-fluid add-form-list">
    <div class="row">
      {%if flag == 'UPDATE'%}
            <div class="col-sm-3">
            <div class="card">
            <div class="card-header d-flex justify-content-between">
                  <div class="header-title" style="text-align: center">
                  <h4 class="card-title"><span class="text-danger mt-2">Update</span> Product Model Name </h4>
                  </div>
            </div>
            <div class="card-body">
                  <form
                  action="{% url 'productModelUpdate' %}"
                  method="post"
                  data-toggle="validator"
                  >
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                        {%for msg in messages%}
                              {% if msg.tags == "success" %}
                                    <div class="alert alert-danger" role="alert">
                                          <div class="iq-alert-text">
                                                <b>{{ msg }}</b> 
                                          </div>
                                    </div>
                              {%endif%}
                        {%endfor%}
                        {%for pcdata in pcdata%}
                        <input type="hidden" name="pmid" value={{pcdata.product_mod_id}} > 
                        <div class="form-group">
                        <label>Product Company Name *</label>
                        <select
                        name="productcomname"
                        class="selectpicker form-control"
                        data-style="py-0"
                        >
                        <option value="{{pcdata.product_com_id.product_com_id}}">{{pcdata.product_com_id.product_com_name}} --- [{{pcdata.product_com_id.product_cat_id.product_cat_name}}]</option>
                        <option  disabled="disabled">
                              Company Name -- [Category]
                              </option>
                              {%for pcat in list_all_pcm%}
                              <option value="{{pcat.product_com_id}}">{{pcat.product_com_name}} --- [{{pcat.product_cat_id.product_cat_name}}]</option>
                              {%endfor%}
                        </select>
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="form-group">
                        <label>Product Model Name *</label>
                        <input
                        name="productmodel"
                        type="text"
                        class="form-control"
                        value="{{pcdata.product_mod_name}}"
                        />
                        </div>
                  </div>
                  {%endfor%}
                  </div>
                  <div class="col-md-12 text-center">
                  <div class="form-group">
                        <button type="submit" class="btn btn-danger mr-2">
                        Update
                        </button>
                  </div>
                  </div>
                  </form>
            </div>
            </div>
            </div>
      {%else%}
            <div class="col-sm-3">
                  <div class="card">
                  <div class="card-header d-flex justify-content-between">
                        <div class="header-title" style="text-align: center">
                        <h4 class="card-title"><span class="text-primary mt-2">New</span> Product Model Name </h4>
                        </div>
                  </div>
                  <div class="card-body">
                        <form
                        action="{% url 'productModelSubmit' %}"
                        method="post"
                        data-toggle="validator"
                        >
                        {% csrf_token %}
                        <div class="row">
                        <div class="col-md-12">
                              {%for msg in messages%}
                                    {% if msg.tags == "info" %}
                                          <div class="alert alert-warning" role="alert">
                                                <div class="iq-alert-text">
                                                      <b>{{ msg }}</b> 
                                                </div>
                                          </div>
                                    {% elif msg.tags == "success" %}
                                    <div class="alert alert-success" role="alert">
                                          <div class="iq-alert-text">
                                                <b>{{ msg }}</b> 
                                          </div>
                                    </div>
                                    {%endif%}
                              {%endfor%}
                              <input type="hidden" name="pmid" value={{pcdata.product_com_id}} >                        
                              <div class="form-group">
                              <label>Product Company Name *</label>
                              <select
                              name="productcomname"
                              class="selectpicker form-control"
                              data-style="py-0"
                              >
                              <option selected="true" disabled="disabled">
                              Company Name -- [Category]
                              </option>
                              {%for pcat in list_all_pcm%}
                              <option value="{{pcat.product_com_id}}">{{pcat.product_com_name}} --- [{{pcat.product_cat_id.product_cat_name}}]</option>
                              {%endfor%}
                              </select>
                              </div>
                        </div>
                        <div class="col-md-12">
                              <div class="form-group">
                              <label>Product Model Name *</label>
                              <input
                              name="productmodel"
                              type="text"
                              class="form-control"
                              placeholder="Product Model Name"
                              />
                              </div>
                        </div>
                        </div>
                        <div class="col-md-12 text-center">
                        <div class="form-group">
                              <button type="submit" class="btn btn-primary mr-2">
                              Submit
                              </button>
                        </div>
                        </div>
                        </form>
                  </div>
                  </div>
            </div>
      {%endif%}

      <div class="col-sm-9">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title" style="text-align: center">
              <h4 class="card-title">All Product Model</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div
                  class="table-responsive rounded mb-3"
                  style="overflow-y: scroll; height: 400px"
                >
                  <table class="data-table table mb-0 tbl-server-info">
                    <thead class="bg-white text-uppercase">
                      <tr class="ligth ligth-data">
                        <th>Product Type</th>
                        <th>Product Category Name</th>
                        <th>Product Company Name</th>
                        <th>Product Model Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="ligth-body">
                        {%for pclist in list_all_pmn%}
                      <tr>
                        <td>{{pclist.product_com_id.product_cat_id.product_type}}</td>
                        <td>{{pclist.product_com_id.product_cat_id.product_cat_name}}</td>
                        <td>{{pclist.product_com_id}}</td>
                        <td>{{pclist.product_mod_name}}</td>
                        <td>
                          <div class="d-flex align-items-center list-action">
                            <a
                              class="badge bg-success mr-2"
                              data-toggle="tooltip"
                              data-placement="top"
                              title=""
                              data-original-title="Edit"
                              href=" {% url 'productModelUpdateRedirect'%}?pmid={{pclist.product_mod_id}}"
                              >Edit</a>
                          </div>
                        </td>
                      </tr>    
                      {%endfor%}                 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ROW END-->
    <!-- Page end  -->
  </div>
</div>

{% endblock %}
