
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .comp {
                width: 100%;       
                margin: 0px !important;
                padding: 0px !important;                
            }
            table.comp  td  {
                border: 0.08rem solid black;
            }
            table.copy{
                width: 100%;
            }
            table,td{
                margin: 5px;
                padding: 5px;
            }  
            body{
                font-size: 10px;
                margin-left: 0%;
                padding: 0%;
            }                                      
        </style>
    </head>
    <body>
        <table id="main" style="width: 100%;" >
            <tr>
                <td style="border: 2px solid black;">
                    <table class="copy">
                        <tr>                
                                   
                            <td style="text-align:center ;" colspan="5" ><span style="font-size:16px ;"><b>District & Sessions Court, Durg</b></span></td>
                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Recipient Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:21/03/2023</td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Issue Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name : Tarun Kumar Chandrakar</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : Assistant Programmer</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : sdsdfd</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Issued Date : 12/03/2023</td></tr>
                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Issued Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>CPU : HP - WRG3</td>
                                        <td>asd456q</td>
                                        <td>1</td>
                                        <td>Working fine</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>            
                            <td >Receiver Signature</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
                <td style="border: 3px dashed black;padding: 0px !important;"></td>
                <td style="border: 2px solid black;">
                    <table class="copy">
                        <tr>                
                                   
                            <td style="text-align:center ;" colspan="5" ><span style="font-size:16px ;"><b>District & Sessions Court, Durg</b></span></td>
                            
                        </tr>
                        <tr>
                            <td colspan="3" ><b>Office Copy</b></td> 
                            <td colspan="3"style="text-align: right;">Date:21/03/2023</td>
                        </tr>
                       
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Computer Peripherals Issue Receipt</b></td></tr>
                        <tr><td style="padding: 0px !important;">&nbsp;&nbsp;</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Name : Tarun Kumar Chandrakar</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Designation : Assistant Programmer</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Court/Section Name : sdsdfd</td></tr>
                        <tr><td style="padding-top:0px !important" colspan="3">Issued Date : 12/03/2023</td></tr>

                        
                        <tr><td style="text-align: center;font-size:12px ;" colspan="5" ><b>Issued Items</b></td></tr>
                        <tr>
                            <td colspan="5">
                                <table class="comp" style="border: 0.08rem solid black ;border-collapse:collapse" >
                                    <tr>
                                        <td style="width: 1%;"><b>S.No</b></th>
                                        <td><b>Product Details</b></td>
                                        <td><b>Serial No</b></td>
                                        <td style="width: 1%;"><b>Qty</b></td>
                                        <td><b>Remarks</b></td>
                                    </tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>CPU : HP - WRG3</td>
                                        <td>asd456q</td>
                                        <td>1</td>
                                        <td>Working fine</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                        
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="1"></td>            
                            <td >Receiver Signature</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;</td>
                        </tr>                    
                                           
                        
                    </table>
                </td>
            </tr>
            
            
        </table>
    </body>
</html>