{% extends "home.html" %}
{% block BuildingDetails %}
<div class="content-page">
    <div class="container-fluid add-form-list">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div class="header-title" style="text-align: center">
                <h4 class="card-title">Building Details</h4>
              </div>
            </div>
            <div class="card-body">
              <form action="page-list-returns.html" data-toggle="validator">
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Building Name</label>
                        <input type="text" class="form-control" placeholder="Building Name"  >
                    </div>
                </div>
  
  
                </div>
                <div class="col-md-12 text-center">
                    <div class="form-group">
                          <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-sm-9">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div class="header-title" style="text-align: center">
                    <h4 class="card-title">All Building Details</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                          <div class="col-lg-12">
                                <div class="table-responsive rounded mb-3" style="overflow-y: scroll;height: 400px;">
                                      <table class="data-table table mb-0 tbl-server-info">
                                      <thead class="bg-white text-uppercase">
                                            <tr class="ligth ligth-data">                                        
                                                  <th>Building Name</th>
                                                  <th>Action</th>
                                            </tr>
                                      </thead>
                                      <tbody class="ligth-body">
                                            <tr>                                                
                                                  <td>Bill Yerds</td>                                    
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Anna Sthesia</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Paul Molive</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Anna Mull</td>
                                            
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Paige Turner</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Bob Frapples</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Barb Ackue</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>
                                                  <td>Greta Life</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>  
                                                  <td>Pete Sariya</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr>   
                                                  <td>Pete Sariya</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr> 
                                                  <td>Pete Sariya</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            <tr> 
                                                  <td>Pete Sariya</td>
                                                  
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                              href="#"><i class="ri-pencil-line mr-0"></i></a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                            
                                      </tbody>
                                      </table>
                                </div>
                            </div>
                      
                    </div>
                </div>
              </div>
            </div>
      </div>
      <!-- ROW END-->
      <!-- Page end  -->
    </div>
  </div>
{% endblock %}
