{% extends "home.html" %}
{% block sectionDetails %}
<div class="content-page">
    <div class="container-fluid add-form-list">
      <div class="row">
        {%if flag == 'UPDATE'%}
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="header-title" style="text-align: center">
                  <h4 class="card-title"><span class="text-danger mt-2">Update</span> Section Details</h4>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'sectionDetailsUpdate' %}" data-toggle="validator" method="post">
                  {% csrf_token %}
                        <div class="row">
                        <div class="col-md-12">
                              {%for msg in messages%}
                                    {% if msg.tags == "success" %}
                                          <div class="alert alert-danger" role="alert">
                                                <div class="iq-alert-text">
                                                      <b>{{ msg }}</b> 
                                                </div>
                                          </div>
                                    {%endif%}
                              {%endfor%}
                        </div>
                              {%for scdata in scdata%}
                              <input type="hidden" name="scid" value={{scdata.section_id}} > 
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Building Name *</label>
                              <div class="search_select_box">
                                  <select name="buildingname" class="selectpicker form-control" data-style="py-0" data-live-search="true">
                                      <option selected="true" value="{{scdata.building_name_id}}">{{scdata.building_name}}</option> 
                                      {%for bmlist in list_all_bm%}  
                                      <option value="{{bmlist.building_id}}">{{bmlist.building_name}}</option> 
                                      {%endfor%}                       
                                  </select>
                              </div>
                          </div> 
                      </div>
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Section Type *</label>
                          <select name="sectiontype" class="selectpicker form-control" data-style="py-0">
                            <option selected="true" value="{{scdata.section_type}}">{{scdata.section_type}}</option> 
                              <option value="Court">Court</option>
                              <option value="Section">Section</option>
                          </select>
                      </div> 
                  </div> 
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>Section Name</label>
                          <input type="text" name="sectionname" class="form-control" value="{{scdata.section_name}}"  >
                      </div>
                  </div>
                  {%endfor%}
    
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {%else%}
          <div class="col-sm-3">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <div class="header-title" style="text-align: center">
                  <h4 class="card-title"><span class="text-primary mt-2">New</span> Section Details</h4>
                </div>
              </div>
              <div class="card-body">
                <form action="{% url 'sectionDetailsSubmit' %}" data-toggle="validator" method="post">
                  {% csrf_token %}
                  <div class="row">
                  <div class="col-md-12">
                        {%for msg in messages%}
                              {% if msg.tags == "info" %}
                                    <div class="alert alert-warning" role="alert">
                                          <div class="iq-alert-text">
                                                <b>{{ msg }}</b> 
                                          </div>
                                    </div>
                              {% elif msg.tags == "success" %}
                              <div class="alert alert-success" role="alert">
                                    <div class="iq-alert-text">
                                          <b>{{ msg }}</b> 
                                    </div>
                              </div>
                              {%endif%}
                        {%endfor%}
                          <div class="form-group">
                              <label>Building Name *</label>
                              <div class="search_select_box">
                                  <select name="buildingname" class="selectpicker form-control" data-style="py-0" data-live-search="true">
                                      <option selected="true" disabled="disabled">--- Select ---</option> 
                                      {%for bmlist in list_all_bm%}  
                                      <option value="{{bmlist.building_id}}">{{bmlist.building_name}}</option> 
                                      {%endfor%}                       
                                  </select>
                              </div>
                          </div> 
                      </div>
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Section Type *</label>
                          <select name="sectiontype" class="selectpicker form-control" data-style="py-0">
                              <option selected="true" disabled="disabled">--- Select ---</option>
                              <option value="Court">Court</option>
                              <option value="Section">Section</option>
                          </select>
                      </div> 
                  </div> 
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>Section Name</label>
                          <input type="text" name="sectionname" class="form-control" placeholder="Product Category Name"  >
                      </div>
                  </div>
    
    
                  </div>
                  <div class="col-md-12 text-center">
                      <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {%endif%}
  
        <div class="col-sm-9">
              <div class="card">
                <div class="card-header d-flex justify-content-between">
                  <div class="header-title" style="text-align: center">
                    <h4 class="card-title">All Section Details</h4>
                  </div>
                </div>
                <div class="card-body">
                    <div class="row">
                          <div class="col-lg-12">
                                <div class="table-responsive rounded mb-3" style="overflow-y: scroll;height: 338px;">
                                      <table class="data-table table mb-0 tbl-server-info">
                                      <thead class="bg-white text-uppercase">
                                            <tr class="ligth ligth-data">
                                                  <th>Establishment Name</th>
                                                  <th>Building Name</th>
                                                  <th>Section Type</th>
                                                  <th>Section Name</th>
                                                  <th>Action</th>
                                            </tr>
                                      </thead>
                                      <tbody class="ligth-body">
                                        {%for sclist in list_all_sc%} 
                                            <tr>
                                                  <td>{{sclist.building_name.est_id.est_name}}</td>
                                                  <td>{{sclist.building_name}}</td>
                                                  <td>{{sclist.section_type}}</td> 
                                                  <td>{{sclist.section_name}}</td>                                   
                                                  <td>
                                                  <div class="d-flex align-items-center list-action">
                                                        
                                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                                        href=" {% url 'sectionDetailsUpdateRedirect'%}?scid={{sclist.section_id}}">Edit</a>
                                                        
                                                  </div>
                                                  </td>
                                            </tr>
                                        {%endfor%}
                                      </tbody>
                                      </table>
                                </div>
                            </div>
                      
                    </div>
                </div>
              </div>
            </div>
      </div>
      <!-- ROW END-->
      <!-- Page end  -->
    </div>
  </div>
{% endblock %}